html {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #1f8bb6;
}

h1 {
    font-family: 'Arvo', Georgia, Times, serif;
    color: white;
	font-size: 59px;
    line-height: 70px;
    text-shadow: 2px 2px #000000;
}

button {
    background-color: #acacac;
    border: 1px solid black;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    font-family: 'Arvo', Georgia, Times, Serif;
    border-radius:20px;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 22px;
}

.selected {
    background-color: black;
    color: white;
}